@import '../styles/variables';

.main {
    min-height: 100vh;
    max-width: 80rem;
    margin: auto;

    &__logo {
        margin: 10rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}



.container {
    display: flex;
    grid-gap: 3rem;
    padding: 3rem;
    background-color: $color-white;
    border: none;
    border-radius: 15px;
    margin: 0 1rem;

    @media only screen and (max-width: 40.625em) {
        flex-direction: column;
    }

    &__icon {
        width: 11px;
        position: absolute;
        top: 59%;
        left: 15px;
    }

    &__left-section {
        width: 50%;

        @media only screen and (max-width: 40.625em) {
            width: 100%;
        }
    }


    &__right-section {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 4rem 3rem 2rem 3rem;
        background-color: $very-dark-cyan;
        border-radius: 15px;

        @media only screen and (max-width: 40.625em) {
            width: 100%;
        }




        &-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 4rem;
        }

        &-header {
            font-size: 1.2rem;
            color: $light-grayish-cyan-secondary;
            font-weight: 700;

            & span {
                color: $dark-grayish-cyan-primary;
                font-size: 1rem;
            }
        }

        &-number {
            font-size: 3rem;
            color: $color-cyan;
            font-weight: 700;
        }

        &-reset {
            padding: 1rem;
            font-size: 1.5rem;
            text-transform: uppercase;
            border: none;
            border-radius: 5px;
            margin-bottom: 1rem;
            font-weight: 700;
            cursor: pointer;
        }
    }
}

.bill, .number-of-people {
    position: relative;
    display: flex;
    grid-gap: .5rem;
    flex-direction: column;
    
    &__input {
        background-color: $light-grayish-cyan-primary;
        padding: 1rem;
        border: none;
        border-radius: 5px;
        text-align: end;
        color: $color-cyan;
        font-weight: 700;
        font-size: 2rem;
        transition: .2s border;

        &:hover {
            border: 2px solid $very-dark-cyan;
        }

        &:focus-within {
            outline: none;
        }
    }
}

.bill__header,
.number-of-people__header,
.select-tip__header {
    font-size: 1.5rem;
    color: $dark-grayish-cyan-primary;
    font-weight: 700;
}

.select-tip {
    margin: 2.5rem 0;


    &-content {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(9.5rem, 1fr));
        grid-gap: 1rem;
    }

    &--unmodified {
        padding: 1rem 3rem;
        font-size: 1.8rem;
        color: $light-grayish-cyan-secondary;
        background-color: $very-dark-cyan;
        border: none;
        border-radius: 5px;
        font-weight: 900;
        cursor: pointer;

        &:focus-within,
         {
            background-color: $dark-grayish-cyan-primary;
        }

        &:hover {
            background-color: $light-grayish-cyan-primary;
            color: $very-dark-cyan;
        }
    }
    
    &--custom {
        font-size: 1.8rem;
        border: none;
        background-color: $light-grayish-cyan-secondary;
        color: $dark-grayish-cyan-primary;
        font-weight: 900;
        cursor: pointer;
        text-align: end;
        padding: 1rem;
    }
}



.tip-color {
    background-color: $dark-grayish-cyan-primary;
}
