@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@import './styles/_variables.scss';

*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Space Mono', monospace;
}

html {
    min-height: 100vh;
    font-size: 62.5%;       /*1rem = 10px*/
}

body {
    min-height: 100vh;
    box-sizing: border-box;

    background-color: $color-cyan;
}